/* == Fonts == */

@font-face {
    font-family: "LarishNeue";
    src: url("../fonts/larisch/Larish Neue Semibold.woff2");
}

@font-face {
    font-family: "Inter-regular";
    src: url("../font/inter/Inter-Regular.ttf");
}

@font-face {
    font-family: "workSans-regular";
    src: url("../fonts/work/WorkSans-regular.ttf");
}

@font-face {
    font-family: "workSans-bold";
    src: url("../fonts/work/WorkSans-Bold.ttf");
}






