@use "./variables.scss" as *;


// H2 Font Style
@mixin h2FontStyle {
    font-family: $workSans-regular;
    font-size: 6rem;
}

// Golden & Poppy Bear Section
@mixin smallFontLarishNeue {
    font-family: $workSans-regular;
    font-size: 2rem; 
    margin-bottom: 2vh;
}

@mixin flex{
    display: flex;
    justify-content: space-between;

}

@mixin button{
    .button--rsvp {
        background: black;
        color: white;
        border: 1px solid #fff ; 
        padding: 0.8rem  2rem; 
        font-size: 1.3rem;
        &:hover {
            background: #fff ; 
            color: #000; 
        }
    }
}

@mixin footerContent{
    .footer__content {
        padding: 10vh 5vw;
        margin-bottom: 5vh;
        width: 45vw;

        .footer__heading {
            font-family: $mainFont;
            font-size: 1rem;
            margin-bottom: 2vh;
        }

        .footer__description {
            font-family: $mainFont;
            font-size: 1.5rem;
            line-height: 1.6;
            margin-bottom: 4vh;
        }

        @mincloude mixin.button;
        
    }
}

@mixin contentStyleGolden($textWidth: 25vw, $descWidth: 45vw) {
    .golden-bear_text{
        width: $textWidth;
        .pgolden-bear__number{
            font-family: $mainFont;
            font-size: 1.2rem;
        }
        .golden-bear__headline{
            font-family: $extraBold;
            font-size: 5.2rem;
            margin: 2vh 0;
        }
    }
       
    .golden-bear__description {
        width: $descWidth;

        .golden-bear__paragraph {
            font-family: $mainFont;
            font-size: 1.8rem;
            line-height: 1.6;
            max-width: 44rem; 
        }
        .golden-bear__author {
            font-family: $mainFont;
            font-weight: 800;
            margin-top: 1vh;
            font-style: italic;
            font-size: 1rem;
        }
    }
}

@mixin contentStylePoppy($textWidth: 25vw, $descWidth: 45vw) {
    .poppy-bear__text{
        width: $textWidth;
        .poppy-bear__number{
            font-family: $mainFont;
            font-size: 1.2rem;
        }
        .poppy-bear__headline{
            font-family: $extraBold;
            font-size: 5.2rem;
            margin: 2vh 0;
        }
    }
       
    .poppy-bear__description {
        width: $descWidth;

        .poppy-bear__paragraph {
            font-family: $mainFont;
            font-size: 1.8rem;
            line-height: 1.6;
            max-width: 44rem; 
        }

        .poppy-bear__author {
            font-family: $mainFont;
            font-weight: 800;
            margin-top: 1vh;
            font-style: italic;
            font-size: 1rem;
        }
    }
}


